*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
    
}
.container{
    height: 100vh;
   
}
.container img{
    position: absolute;
    width: 100%;
    height: 110vh;
    object-fit: cover;
    z-index: -1;
}
.main-title{
   position: absolute;
   top:40%;
   left: 50%;
   font-size: 6rem;
   transform: translate(-40%,-50%);
}

.content{
    width: 100%;
    background-image: linear-gradient(to left, #020202 , #26224d, #000000);
    min-height:110vh ;
    z-index:2;
    position:absolute;
}

.content-images{
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    font-size: 3rem;
   
   
}
.content .my-img{
    height: 400px;
    width: 400px;
    position: relative;
    z-index: 4;

    
}
.content .text{
    position: relative;
    z-index: 4;
   
}
p{
    font-size: 25px;
    text-align: left;
    padding:20px 0;
}
.button{
    border-radius: 4px;
    background-color: #00000000;
    border: 2px solid white;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 18px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 230px;
  box-shadow: 0 4px 8px 0 rgba(90, 90, 90, 0.2), 0 6px 20px 0 rgba(107, 106, 106, 0.19);
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;

  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  @media screen and (max-width: 900px) {
      
     .content-images{
         display: inline-block;
        
     }
     p, h2,img{
         font-size: 30px;
         text-align: center;
         
     }
     a{
        padding-left: 200px;
     }
    .content-images img{
      width: auto;
      margin: auto;
      padding: 40px;
    }

    }

    @media screen and (max-width: 638px) {
        a{
            padding-left: 130px;
         }
     
     .content .my-img{
        width: 280px;
        height: 280px;
        margin-right: 90px;
        
     }
     p, h2{
        font-size: 20px;
        text-align: center;
        padding-right: 100px;
    }

    }