
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 sans-serif;
  color: #777;
}
.nav{
  width:100%;
  background-color: rgba(0,0,0,.2);
  position: fixed;
  top: 0;
  z-index: 1;
}
.nav ul{
  text-align: center;
  margin: 0;
}
.nav ul li{
  list-style: none;
  display: inline-block;
}
.nav ul li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color:#fff;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 600;
  padding:20px;
  transition: all ease 0.5s;

}
.nav ul li a:hover{
  background-color: #211b4385;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #f7f7f7;
  background-color: transparent;
  font-size:45px;
  letter-spacing: 10px;
  
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4{
  position: relative;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("image/bg3.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("image/bg4.png");
  min-height: 600px;
}

.bgimg-3 {
  background-image: url("image/bg5.png");
  min-height: 600px;
}
.bgimg-4{
  background-image: url("image/bg2.png");
  min-height: 600px;
}


h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px sans-serif;
  color: #111;
}
p{
  font-size: 18px;
  padding:0px 20px;
}



.btn {
  background-color:rgb(219 155 140);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  opacity: 1;
  transition: 0.3s;
  margin-right: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {

cursor: pointer;

background-color: rgb(194 131 114);}
.about{
  color: #777;
  background-color:white;
  text-align:center;
  padding:40px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-buttons .wb{
  border:3px solid rgb(219 155 140);
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 14px 28px;
  margin: 30px 20px 5px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px;

}
.work-buttons .wb:hover{
    background-color:rgb(219 155 140);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.work-buttons{
  text-align: center;
  
}
.fa {
  padding: 20px;
  font-size: 60px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 20px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fa:hover {
  opacity: 0.5;
  
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-github {
  background: #0a0a0a;
  color: white;
}
.contact{
  text-align: center;
}

@media screen and (max-width: 980px) {
  .about{
    display: block;
    text-align: center;
  }
  }
