.month{
    text-align: center;
    font-size: 2.6em;
    color: #fff;
    padding:10px;
    letter-spacing: 1px;
    border:5px solid #fff;
    background: rgb(120 25 138 / 50%);
}
table th{
    color: #fff;
    background-color: rgb(2 61 150);

}
table, th, td{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 25px;
    border-collapse: collapse;
    border: 5px solid #fff;
    color: #fff;
    padding:25px;
    cursor: pointer;

}
tr,th,td{
    padding: 15px;

}
tr td{
    font-size: 30px;
}
th{
    color:#fff;
}
td{
    background: rgba(0,0,0,0.5);
}
td:hover{
    background: rgb(44, 170, 243);
}
.one{
  background-color:rgb(9 78 68 / 75%);;
}
.two{
  background-color: rgb(9 78 68 / 75%);;
}
button{
  background-color:transparent;
    width: 135px;
    height: 50px;
    font-size: larger;
    font-family: cursive;
    font-weight: bold;
    color: white;
    border-radius: 27px;
    border: 3px solid whitesmoke;
    outline: none;
}
    
button:hover{
  background-color: #2ee5e5;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
 
body{
  background-image:url(background.jpg) ;
  background-size: 1700px;
  background-repeat: no-repeat;
  overflow: hidden;

}
#button{
  padding-top: 40px;
    padding-bottom: 40px;
}